<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create Your Listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter title">
        <br><br>
        <input name="listing[description]" placeholder="Enter description">
        <br><br>
        <input name="listing[image]" placeholder="Enter image">
        <br><br>
        <input name="listing[price]" placeholder="Enter price">
        <br><br>
        <input name="listing[location]" placeholder="Enter location">
        <br><br>
        <input name="listing[country]" placeholder="Enter country">
        <br><br>
        <button>Add</button>
    </form>
</body>
